<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TachyFont</servlet-name>
		<servlet-class>com.github.googlei18n.tachyfont.TachyFontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TachyFont</servlet-name>
		<url-pattern>/tachyfont</url-pattern>
	</servlet-mapping>
  <servlet>
    <servlet-name>GetBase</servlet-name>
    <servlet-class>com.github.googlei18n.tachyfont.GetBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBase</servlet-name>
    <url-pattern>/tachyfont/getbase</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
