<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>CharDataServlet</servlet-name>
    <servlet-class>com.github.googlei18n.tachyfont.gae.server.CharDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharDataServlet</servlet-name>
    <url-pattern>/incremental_fonts/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseDataServlet</servlet-name>
    <servlet-class>com.github.googlei18n.tachyfont.gae.server.BaseDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseDataServlet</servlet-name>
    <url-pattern>/incremental_fonts/incrfonts/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Gen204</servlet-name>
    <servlet-class>com.github.googlei18n.tachyfont.gae.server.Gen204</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gen204</servlet-name>
    <url-pattern>/gen_204</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
